.tabs {
  top: 100rem;
  padding: 100rem;
  padding-top: 100rem;
  flex-grow: 1;
  width: 100%;
  position: relative;
  /* right: 50%; */
  /* padding-top: 3rem; */
  margin-left: 950px;
  left: 1000px;
  padding-left: 1000000px;
  margin-left: 10000px;
}
